@import "tailwindcss";

@source "../../templates/";

@theme {
  --color-primary-50: #E8EEF6;
  --color-primary-100: #D1DDED;
  --color-primary-200: #A3BBD8;
  --color-primary-300: #7599C4;
  --color-primary-400: #4777AF;
  --color-primary-500: #2A5298;
  --color-primary-600: #22447D;
  --color-primary-700: #1B3A6B;
  --color-primary-800: #142D54;
  --color-primary-900: #0D1F3D;

  --color-secondary-50: #EAF5EC;
  --color-secondary-100: #D5EBD9;
  --color-secondary-200: #ABD7B3;
  --color-secondary-300: #81C38D;
  --color-secondary-400: #57AF67;
  --color-secondary-500: #3A9E4D;
  --color-secondary-600: #338C44;
  --color-secondary-700: #2D7A3A;
  --color-secondary-800: #22612D;
  --color-secondary-900: #174820;
}
